body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-color: #f6f6f6;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
    margin-top: 20px;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
} */
         
button {
    background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border:none;
    cursor: pointer;
  }

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f1f1f1;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}
